<div class="left_ul">
<div class="tree">
<ul>
   <li><div><p><a href="/iwaterTest/">Главная</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_company/">Добавить компанию</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_user/">Добавить пользователя</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_role/">Добавить роль</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/list_users/">Список пользователей</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_client/">Добавить клиента</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/list_clients/">Список клиентов</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_order/">Добавить заказ</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_order_app/">Необработанные заказы</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/list_orders/">Список заказов</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/list_unit/">Список товаров</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/add_list/">Добавить путевой</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/list_lists/">Список путевых</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/driver_position/">Координаты водителя</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/driver_stat/">Статистика водителей</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/analytics/">Предиктиваная аналитика</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/storage_control/">Управление складами</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/storage_arrival/">Приход на склад</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/storage_info/">Информация о складах</a></p></div></li>
   <li><div><p><a href="/iwaterTest/admin/logs/">Логи</a></p></div></li>
</ul>
</div>
</div>
